@use 'sass:map';

//Variables
$breakpoints: (small: 36em, medium: 48em, large: 62em, extra-large: 75em);

//Colors
$color-primary: #FF0505;
//Dark Theme:
$color-bg-dark: #191919;
$color-nav-dark: #3B3B3B;
$color-text-dark: #FFF;
//Light Theme:
$color-bg-light: #FFF;
$color-nav-light: #05FFFF;
$color-text-light: #000;

//Fonts
$fonts-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
$fonts-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$fonts-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
$font: 'Raleway', $fonts-sans-serif;

//Mixins
//Media mixin that will automatically generate a media query selector based on size (from the breakpoints in _variables)
@mixin media($key){
  $size: map.get($breakpoints, $key);
  @media (min-width: $size){
    @content
  }
}