@use "abstract";

//Base
:root {
  --font: #{abstract.$font};
  --color-primary: #{abstract.$color-primary};
  --color-bg: #{abstract.$color-bg-dark};
  --color-nav: #{abstract.$color-nav-dark};
  --color-text: #{abstract.$color-text-dark};
}

html{
  font-size: 62.5%; //Used to make rem calculations easier. 1rem = 10px on default browser settings
  font-family: var(--font);
}