@use "../globals/abstract";

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position:fixed;
  top: 0;
  width: 100%;
}

.navbutton {
  flex-grow: 1;
}

.active {
  visibility: visible;
  transition: all 200ms ease-in;
}

.hidden {
  visibility: hidden;
  transition: all 200ms ease-out;
  transform: translate(0, -100%);
}

.remove {
  display: none;
}

.grow {
  @include abstract.media(large) {
    flex-grow: 2;
  }
}