.buttonicon {
  font-size: 3.2rem;
}

.buttontext {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  transition: color ease-in-out 150ms;

  &:hover, &:focus-visible {
    color: var(--color-primary);
  }
}