@use "../globals/abstract";

.buttonicon {
  font-size: 3.2rem;
}

.buttontext {
  --padding: 0.5em;
  background: var(--color-nav);
  color: var(--color-text);
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  transition: background ease-in-out 150ms;
  padding: var(--padding);

  & > p {
    line-height: 0;
    padding: 1em 0 var(--padding);
    margin: 0;
  }


  &:hover, &:focus-visible {
    background: darken(abstract.$color-primary, 25%);
  }
}